*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #EBEBEB;
}

.container{
  width: 60%;
  height: 800px;
  background: rgba(175, 175, 175, 0.1);
  margin: 20px auto;
}
